<div class="section" id="what-technologies-are-used">
    <h3>
        <a class="toc-backref" href="#id19">What technologies are used?</a>
    </h3>
    <p>
        <a class="reference external" href="https://lintian.debian.org/">Lintian</a> is responsible for finding the issues
        in packages.
    </p>
    <p>
        <a class="reference external"
           href="https://wiki.debian.org/UltimateDebianDatabase/">UDD</a> is used to find package VCS URLs and to retrieve the lintian results.
    </p>
    <p>
        <a class="reference external" href="https://www.breezy-vcs.org/">Breezy</a>
        provides abstractions over the version control system (Git, Bazaar,
        Mercurial, Subversion) and the supported hosting platforms (GitHub,
        GitLab, Launchpad).
    </p>
    <p>
        <a class="reference external"
           href="https://salsa.debian.org/jelmer/lintian-brush">Lintian-brush</a> is responsible for actually making changes to the packages.
    </p>
    <p>
        <a class="reference external"
           href="https://jelmer.uk/code/silver-platter">Silver-Platter</a>
        ties this all together; it trawls UDD to find packages that are
        affected by lintian tags that lintian-brush knows how to fix, clones the
        packaging branches, invokes lintian-brush and pushes back or creates
        merge proposals.
    </p>
</div>
