{% extends "package.html" %}
{% block sidebar %}
    {% include "lintian-fixes/sidebar.html" %}
{% endblock sidebar %}
{% from "debian_util.html" import local_command with context %}
{% from "lintian-fixes/util.html" import lintian_tag_link, lintian_brush_summary %}
{% block campaign_title %}Lintian Fixes{% endblock campaign_title %}

{% block additional_metadata %}
    {% if result and 'lintian-brush' in result.get('versions', {}) %}
	<li>lintian-brush version: {{ result['versions']['lintian-brush'] }}</li>
    {% endif %}
    {% if candidate_tags - fixed_tags %}
	<li>
	    Tags that might be fixable:
	    {% for tag in candidate_tags - fixed_tags %}
		{{ lintian_tag_link(tag) }}
		{% if not loop.last %}{% endif %}
	    {% endfor %}
	</li>
	<!-- Candidate value: {{ candidate_value }} -->
    {% endif %}
{% endblock additional_metadata %}

{% block summary %}
    {{ lintian_brush_summary(result['applied']) }}
{% if result['failed'] %}
    <h3>Failed fixers:</h3>
    <ul>
	{% for tag in result['failed'] %}<li>{{ lintian_tag_link(tag) }}</li>{% endfor %}
    </ul>
    <p>
	See the <a href="/cupboard/pkg/{{ package }}/{{ run_id }}/worker.log">worker log</a> for details.
    </p>
{% endif %}
{% endblock summary %}

{% block run_locally %}
{{ local_command(command, "lintian-brush", package, vcs, vcs_url) }}
{% endblock run_locally %}
