<div class="footer">
    © 2018-2023 <a href="/about">Jelmer Vernooĳ</a>.  <a href="https://salsa.debian.org/janitor-team/janitor.debian.net/issues/new">File a bug</a>. <a href="https://salsa.debian.org/janitor-team/janitor.debian.net">Source code</a>. Published under the GNU GPLv2 or later.
</div>
